<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinate function</title>
</head>

<body>
    <h1>Reverse Geocoding Service</h1>
    <form action="{% url 'hello:search' %}" method="GET">
        <!-- {% csrf_token %} -->
        <label>Latitude:</label>
        <input type="text" name="lat">
        <label>Longitude:</label>
        <input type="text" name="lng">
        <label>Language</label>
        <select name="language" id="lang">
            <option value="en">English</option>
            <option value="km">Khmer</option>
            <option value="cn">Chinese</option>
        </select>
        <input type="submit" value="Get location">
    </form>

    <!-- {%block content%}
    <p>
        Commune: <strong>{{result.communeName}}</strong>
    </p>
    <p>
        District: <strong>{{result.districtName}}</strong>
    </p>
    <p>
        Province: <strong>{{result.provinceName}}</strong>
    </p>
    {% endblock %} -->

</body>

</html>
